<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>my first project</display-name>

    <welcome-file-list>
        <welcome-file>mail/choice.jsp</welcome-file>
    </welcome-file-list>


    <context-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <context-param>
        <param-name>chat_storage</param-name>
        <param-value>FILE</param-value>
    </context-param>
    <context-param>
        <param-name>user_storage</param-name>
        <param-value>FILE</param-value>
    </context-param>

    <!--    <listener>-->
    <!--        <listener-class>home_work_5/src/main/java/controllers/web/listeners/AdminReg.java</listener-class>-->
    <!--    </listener>-->

</web-app>
